# Default ignored files
/shelf/
/workspace.xml
Object Oriented Programming/Shop Class/.idea/misc.xml
Object Oriented Programming\Shop Class\.idea\vcs.xml
Object Oriented Programming\Shop Class\.idea\modules.xml
